{% extends "listing/base.html" %}

{% block content %}
<div class="section cms-hero">
  <div class="container">
    <div class="header-wrap">
      <h1 class="cms-heading">Events</h1>
    </div>
    <div class="w-dyn-list">
      <div role="list" class="grid-half rooms-page w-dyn-items">
        {% for event in events %}
        <div role="listitem" class="collection-item w-dyn-item">
            <a href="{% url 'event_detail' event.id %}" class="card w-inline-block">

            <div class="gradient-overlay"></div>
            <div class="card-photo-mask">
              <img src="{{ event.image.url }}" loading="lazy" alt="" class="card-photo" />
            </div>
            <div class="card-content">
              <div class="large-text">{{ event.title }}</div>
              <div class="price">{{ event.date }}</div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="section amenities">
  <div class="container">
     <h2 class="large-heading">Grand Hotel<br/>facilities &amp; services</h2>
     <div class="amenities-wrap">
        <div class="amenities-column">
           <div class="amenities-item">
              <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc4d7f69992b00f5d95_wifi-room%20icon.png" loading="lazy" alt="" class="amenities-icon"/>
              <div class="label-text gray-text">Wifi-Room</div>
           </div>
           <div class="amenities-item">
              <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc4b74845200a28ebde_hotel-staff%20icon.png" loading="lazy" alt="" class="amenities-icon"/>
              <div class="label-text gray-text">24/7 Hotel Staff</div>
           </div>
           <div class="amenities-item">
              <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc4aa7b4fe8e37dee1c_weekly%20events%20icon.png" loading="lazy" alt="" class="amenities-icon"/>
              <div class="label-text gray-text">Weekly Events</div>
           </div>
           <div class="amenities-item">
              <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc343cc2ae2195ad90d_indoor%20pool%20icon.png" loading="lazy" alt="" class="amenities-icon"/>
              <div class="label-text gray-text">Indoor Pool</div>
           </div>
        </div>
        <div class="amenities-column last">
           <div class="amenities-item">
              <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc441bf5dcb9c883f3d_fitness-centre%20icon.png" loading="lazy" alt="" class="amenities-icon"/>
              <div class="label-text gray-text">Fitness Center</div>
           </div>
           <div class="amenities-item">
              <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc4712d2d7c40c91873_Spa%20%26%20Wellness%20icon.png" loading="lazy" alt="" class="amenities-icon"/>
              <div class="label-text gray-text">Spa and Wellness</div>
           </div>
           <div class="amenities-item">
              <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc3eb7dcd27e2e325a5_restaurant%20icon.png" loading="lazy" alt="" class="amenities-icon"/>
              <div class="label-text gray-text">Restaurant</div>
           </div>
        </div>
     </div>
  </div>

{% endblock %}
