{% extends "listing/base.html" %}
{%load static %}
{% block content %}
<div class="section-cover">
    <div class="sc-content">
      <div class="sc-holder top-bottom"></div>
      <div class="sc-holder middle">
        <div class="sc-content-holder">
          <div class="sc-sub-title">
            <div class="style-4s white">Welcome</div>
          </div>
          <div class="sc-title home">
            <h1 class="style-1l white">A modern hotel for the modern world.</h1>
          </div>
          <div class="sc-button">
            <a href="index.html#about-us" class="button-style-1 w-button">get to know us</a>
          </div>
        </div>
      </div>
      <div class="sc-holder top-bottom">
        <div class="sc-scroll-line"></div>
      </div>
    </div>
    <div class="sc-overlay"></div>
    <div class="sc-image">
      <img src="https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f543f85059f6bf67849f5_palm-trees-at-night-258154.jpg" srcset="https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f543f85059f6bf67849f5_palm-trees-at-night-258154-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f543f85059f6bf67849f5_palm-trees-at-night-258154-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f543f85059f6bf67849f5_palm-trees-at-night-258154-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f543f85059f6bf67849f5_palm-trees-at-night-258154.jpg 2000w" sizes="100vw" alt="" class="cover-image" />
    </div>
  </div>

  
  <div class="about">
    <div id="about-us" class="global-ns blue large"></div>
    <div class="global-section blue">
      <div class="global-container about">
        <div class="about-title-holder">
          <div class="style-4s">About Us</div>
        </div>
        <div class="about-description-holder">
          <h2 class="style-1m">The Grand Standard offers peace and serenity to working professionals who appreciate exceptional experiences and service.</h2>
        </div>
        <div class="about-cta-holder">
          <a data-w-id="e2ba8f55-a34e-f810-5642-27c8f1942bf5" href="learn-about-us" class="button-style-5 w-button">learn more</a>
        </div>
      </div>
    </div>
  <div class="section">
    <div class="container rooms">
        <div class="rooms-heading-wrap">
            <div class="label-text">high comfort rooms</div>
            <h2 class="large-heading margin-none">Enjoy our lovely rooms with your family</h2>
        </div>
        <div class="w-dyn-list">
            <div role="list" class="grid-half rooms w-dyn-items">
                {% for room in rooms %}
                <div role="listitem" class="collection-item w-dyn-item">
                    <a href="{% url 'room_detail' room.pk %}" class="card w-inline-block">
                        <div class="gradient-overlay"></div>
            <div class="card-photo-mask">
              <img src="{{ room.image.url }}" loading="lazy" alt="{{ room.title }}" class="card-photo" />
            </div>
            <div class="card-content">
              <div class="large-text">{{ room.title }}</div>
              <div class="price">${{ room.price }}</div>
            </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="view-more-button">
            <a href="{% url 'room_list' %}" class="button-style-1 w-button">View More Rooms</a>
        </div>
    </div>
    <div class="section about">
        <div class="container">
          <div class="grid-half about">
            <div class="about-wrap">
              <h2 class="large-heading">Grand hotel is respected by our customers</h2>
              <p>Praesent malesuada semper eros, non egestas leo interdum ut. Sed non sapien pretium, efficitur nibh nec, semper lorem. Pellentesque volutpat laoreet diam, sit amet tincidunt velit semper ut. Morbi id imperdiet arcu. Proin enim odio, placerat vel suscipit vitae, lobortis id augue. Quisque eu nisl id diam tempor.</p>
              <a href="about">Learn more</a>
            </div>
            <img src="{% static 'images/resort.jpg' %}" alt="" class="about-image" />
          </div>
        </div>
    </div>
    <div class="section events">
        <div class="container">
            <h2 class="large-heading margin-none">Weekly Events</h2>
            <div class="w-dyn-list">
                <div role="list" class="grid-half events w-dyn-items">
                    {% for event in featured_events %}
                    <div role="listitem" class="w-dyn-item">
                        <a href="{% url 'event_detail' event.id %}" class="card w-inline-block">
                            <div class="gradient-overlay"></div>
                            <div class="card-photo-mask">
                                <img src="{{ event.image.url }}" loading="lazy" alt="" class="card-photo" />
                            </div>
                            <div class="card-content">
                                <div class="large-text">{{ event.title }}</div>
                                <div class="price">{{ event.date }}</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <a href="{% url 'events' %}" class="button border w-button">View More Events</a>
        </div>
    </div>
    
    <div class="section amenities">
        <div class="container">
          <h2 class="large-heading">Grand Hotel <br />facilities &amp; services </h2>
          <div class="amenities-wrap">
            <div class="amenities-column">
              <div class="amenities-item">
                <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc4d7f69992b00f5d95_wifi-room%20icon.png" loading="lazy" alt="" class="amenities-icon" />
                <div class="label-text gray-text">Wifi-Room</div>
              </div>
              <div class="amenities-item">
                <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc4b74845200a28ebde_hotel-staff%20icon.png" loading="lazy" alt="" class="amenities-icon" />
                <div class="label-text gray-text">24/7 Hotel Staff</div>
              </div>
              <div class="amenities-item">
                <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc4aa7b4fe8e37dee1c_weekly%20events%20icon.png" loading="lazy" alt="" class="amenities-icon" />
                <div class="label-text gray-text">Weekly Events</div>
              </div>
              <div class="amenities-item">
                <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc343cc2ae2195ad90d_indoor%20pool%20icon.png" loading="lazy" alt="" class="amenities-icon" />
                <div class="label-text gray-text">Indoor Pool</div>
              </div>
            </div>
            <div class="amenities-column last">
              <div class="amenities-item">
                <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc441bf5dcb9c883f3d_fitness-centre%20icon.png" loading="lazy" alt="" class="amenities-icon" />
                <div class="label-text gray-text">Fitness Center</div>
              </div>
              <div class="amenities-item">
                <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc4712d2d7c40c91873_Spa%20%26%20Wellness%20icon.png" loading="lazy" alt="" class="amenities-icon" />
                <div class="label-text gray-text">Spa and Wellness</div>
              </div>
              <div class="amenities-item">
                <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfc3eb7dcd27e2e325a5_restaurant%20icon.png" loading="lazy" alt="" class="amenities-icon" />
                <div class="label-text gray-text">Restaurant</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="section cta">
        <div class="full-container">
          <a href="rooms" class="cta-wrap w-inline-block">
            <h2 class="cta-heading">Our Rooms</h2>
            <div class="cta-subtitle-wrap">
              <div class="medium-text">Make your reservation</div>
              <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfb9753d4f56d6514b20_Arrow%20cta%20-%20white.svg" loading="lazy" alt="" class="cta-arrow" />
            </div>
            <div class="cta-overlay"></div>
          </a>
          <a href="contact" class="cta-wrap contact w-inline-block">
            <h2 class="cta-heading">Contact</h2>
            <div class="cta-subtitle-wrap">
              <div class="medium-text">Get to know us!</div>
              <img src="https://assets.website-files.com/603f4fa8460be240318c62b8/6040cfb9753d4f56d6514b20_Arrow%20cta%20-%20white.svg" loading="lazy" alt="" class="cta-arrow" />
            </div>
            <div class="cta-overlay"></div>
          </a>
        </div>
      </div>
{% endblock %}
