<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Page Title{% endblock %}</title>
    {% load static %}
    <link href="https://assets.website-files.com/603f4fa8460be240318c62b8/css/grand-hotel.webflow.50c9a3285.css" rel="stylesheet" type="text/css" />
    <link href="https://assets.website-files.com/603f4fa8460be240318c62b8/60493272c9d7ae7bc06fe5f9_Favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="https://assets.website-files.com/603f4fa8460be240318c62b8/604932777811a020683b18cb_Webclip.png" rel="apple-touch-icon" />
    <link href="https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/css/grandstandard.webflow.dc9e4d0c3.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <link href="https://assets.website-files.com/6295ebf2d683d447a9420b87/css/porto-128.webflow.a7e4f1ea9.css" rel="stylesheet" type="text/css" />
</head>